html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#map {
	height: 100%;
	margin: 0px;
	padding: 0px
}
.addressField {
	font-size: 36px;
	padding: 10px;
	margin: 0 auto;
    width: 480px;
 }
#container {
    margin: 0 auto;
    width: 480px;
    background-color: grey;
}
.label{
    width: 100px;
}
.field{
    width: 100%;
}

.slimField {
   width: 80px;
}
.wideField {
   width: 200px;
}